<div class="container-fluid mt-1 mb-3 super_admin" ng-controller="report">
  <div class="row mt-5 text-center">
    <h3 class="mb-3">Top Three Seller</h3>
    <div class="col-lg-4 d-flex align-items-center">
      <div class="text-center">
        <canvas id="myChart"></canvas>
        <h6>Kanta</h6>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-center">
      <div class="text-center">
        <canvas id="myChart2"></canvas>
        <h6>Tanzin</h6>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-center">
      <div class="text-center">
        <canvas id="myChart3"></canvas>
        <h6>Nazim</h6>
      </div>
    </div>
  </div>
</div>
